$main-color: rgb(35, 26, 49);
$bg-color: rgb(244, 244, 244);
$shadow-color: rgba(176, 176, 176, .5);

@mixin spinMix($name) {
    @-ms-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-webkit-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin spinAnimation($name, $duration) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: $name;
    -ms-animation-duration: $duration;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tool_time_report_icon {
    height: 1em;
    margin-right: 5px;
    animation: none;

    &.loader {
        @include spinAnimation(spin, 2000ms);
    }
}

@include spinMix(spin) {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}