<div id="sonate-report-form-container">
    <h3>{{#str}} time_report, tool_time_report {{/str}}</h3>

    <form class="mt-4">
        <div class="form-group row">
            <label for="startInput" class="col-sm-2 col-form-label">{{#str}} startingdate, tool_time_report {{/str}}</label>
            <div class="">
                <input type="date" class="form-control" id="startInput" aria-describedby="startHelp" placeholder="Date de début...">
            </div>
        </div>
        <div class="form-group row">
            <label for="endInput" class="col-sm-2 col-form-label">{{#str}} endingdate, tool_time_report {{/str}}</label>
            <div class="">
                <input type="date" class="form-control" id="endInput" aria-describedby="endHelp" placeholder="Date de fin...">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <button type="submit" id="submitdate" class="btn btn-primary" data-context-tree-node="1">
                    {{#str}} create {{/str}}
                </button>
            </div>
        </div>
    </form>

    <div id="report-area" class="mt-5 mb-5 alert"></div>

    {{> tool_time_report/reports_list }}
</div>
